body{
    background:black;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    align-items: center;
    font-family: 'Indie Flower', cursive;
}
h1, h2{
    color: plum;
}
#canvas1{

    background-color: skyblue;
    width : 900px;
    height: 600px; 
}